<template>
  <div class="filter-bar">
    <gl-filtered-search
      v-model="terms"
      :available-tokens="tokens"
      @input="handleChange"
    />
    <sort-handler @sort="handleSort" />
  </div>
</template>

<script>
import { GlFilteredSearch, GlFilteredSearchToken } from "@gitlab/ui";
import {
  TYPE_GROUP,
  TYPE_ENABLED,
  TYPE_MILESTONE,
  TYPE_HAS_ROLLOUT,
  TYPE_HAS_INTRODUCED,
  TYPE_TYPE,
} from "../constants";
import filtersToURL from "../utils/filtersToURL";
import SortHandler from "./SortHandler.vue";

const defaultToken = {
  token: GlFilteredSearchToken,
  operators: [{ value: "=" }],
  options: [
    { title: "true", value: true },
    { title: "false", value: false },
  ],
};

export default {
  components: {
    GlFilteredSearch,
    SortHandler,
  },
  data: () => ({
    searchTerm: "",
    selectedGroup: null,
    selectedType: null,
    selectedMilestone: null,
    terms: window.location.hash
      ? JSON.parse(decodeURI(window.location.hash.substring(1)))
      : [],
  }),
  computed: {
    tokens() {
      return [
        {
          ...defaultToken,
          icon: "group",
          options: this.groups,
          title: "Group",
          type: TYPE_GROUP,
        },
        {
          ...defaultToken,
          icon: "label",
          options: this.types,
          title: "Type",
          type: TYPE_TYPE,
        },
        {
          ...defaultToken,
          icon: "clock",
          operators: [{ value: "=" }, { value: ">" }, { value: "<" }],
          options: this.milestones,
          title: "Milestone",
          type: TYPE_MILESTONE,
        },
        {
          ...defaultToken,
          icon: "flag",
          title: "Default enabled",
          type: TYPE_ENABLED,
          unique: true,
        },
        {
          ...defaultToken,
          icon: "issues",
          title: "Has rollout issue",
          type: TYPE_HAS_ROLLOUT,
          unique: true,
        },
        {
          ...defaultToken,
          icon: "merge-request",
          title: "Has introduced MR",
          type: TYPE_HAS_INTRODUCED,
          unique: true,
        },
      ];
    },
  },
  props: {
    milestones: {
      type: Array,
      required: true,
    },
    groups: {
      type: Array,
      required: true,
    },
    types: {
      type: Array,
      required: true,
    },
  },
  methods: {
    handleSort(payload) {
      this.$emit("sort", payload);
    },
    handleChange() {
      history.replaceState(null, "", `#${filtersToURL(this.terms)}`);
      this.$emit("change", this.terms);
    },
  },
};
</script>

<style scoped>
.filter-bar {
  display: grid;
}

@media screen and (min-width: 32rem) {
  .filter-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
  }
}
</style>
