<template>
  <div id="app">
    <h1>Feature Flags</h1>
    <p>
      Use the search below to filter the flags. Currently you can filter by,
      milestone, group, and (default) enabled status. If you want more
      functionality,
      <a href="https://gitlab.com/samdbeckham/feature-flags" target="_blank"
        >everyone can contribute</a
      >!
    </p>
    <filter-bar
      :groups="allGroups"
      :types="allTypes"
      :milestones="allMilestones"
      @change="handleChange"
      @sort="handleSort"
    />
    <flag-cards :flags="filteredFlags" />
  </div>
</template>

<script>
import "@gitlab/ui/dist/index.css";

import flags from "../data/flags.json";
import {
  GROUP_PREFIX,
  SEPARATOR,
  TYPE_ENABLED,
  TYPE_GROUP,
  TYPE_HAS_INTRODUCED,
  TYPE_HAS_ROLLOUT,
  TYPE_MILESTONE,
  TYPE_TYPE,
} from "./constants";

import compareVersionNumbers from "./utils/compareVersionNumbers";
import parseFilters from "./utils/parseFilters";
import isInOrder from "./utils/isInOrder";

import searchFilter from "./filters/searchTerm";
import hasRolloutFilter from "./filters/hasRollout";
import defaultEnabledFilter from "./filters/defaultEnabled";
import hasIntroFilter from "./filters/hasIntro";
import typeFilter from "./filters/type";
import milestoneFilter from "./filters/milestone";
import groupFilter from "./filters/group";

import FilterBar from "./components/FilterBar.vue";
import FlagCards from "./components/FlagCards.vue";

export default {
  name: "App",
  components: {
    FilterBar,
    FlagCards,
  },
  data: () => ({
    filters: {},
    sortBy: TYPE_MILESTONE,
    isAscending: true,
    flags,
  }),
  methods: {
    handleChange(terms) {
      this.filters = {
        group: parseFilters(terms, TYPE_GROUP),
        type: parseFilters(terms, TYPE_TYPE),
        milestone: parseFilters(terms, TYPE_MILESTONE),
        defaultEnabled: parseFilters(terms, TYPE_ENABLED)[0]?.data,
        hasRollout: parseFilters(terms, TYPE_HAS_ROLLOUT)[0]?.data,
        hasIntro: parseFilters(terms, TYPE_HAS_INTRODUCED)[0]?.data,
        searchTerm: parseFilters(terms, "filtered-search-term")
          .map(({ data }) => data)
          .filter((_) => _)
          .join("_"),
      };
    },
    handleSort({ sortBy, isAscending }) {
      this.sortBy = sortBy;
      this.isAscending = isAscending;
    },
  },
  computed: {
    filteredFlags() {
      let filteredFlags = this.flags;

      filteredFlags = searchFilter(filteredFlags, this.filters.searchTerm);
      filteredFlags = defaultEnabledFilter(
        filteredFlags,
        this.filters.defaultEnabled
      );
      filteredFlags = hasRolloutFilter(filteredFlags, this.filters.hasRollout);
      filteredFlags = hasIntroFilter(filteredFlags, this.filters.hasIntro);
      filteredFlags = groupFilter(filteredFlags, this.filters.group);
      filteredFlags = typeFilter(filteredFlags, this.filters.type);
      filteredFlags = milestoneFilter(filteredFlags, this.filters.milestone);

      return filteredFlags.sort((a, b) =>
        isInOrder(a, b, { type: this.sortBy, asc: this.isAscending }) ? 1 : -1
      );
    },
    allGroups() {
      return [
        ...new Set(
          this.flags
            .map(({ group }) => group)
            .filter((group) => group)
            .sort()
        ),
      ].map((group) => ({
        title: group.replace(GROUP_PREFIX, "").replace(" ", SEPARATOR),
        value: group.replace(" ", SEPARATOR),
      }));
    },
    allTypes() {
      return [
        ...new Set(
          this.flags
            .map(({ type }) => type)
            .filter((type) => type)
            .sort()
        ),
      ].map((type) => ({
        title: type,
        value: type,
      }));
    },
    allMilestones() {
      return [
        ...new Set(
          this.flags
            .map(({ milestone }) => milestone)
            .filter((milestone) => milestone)
            .sort((a, b) => compareVersionNumbers(a, b, ">"))
        ),
      ].map((milestone) => ({
        title: `%${milestone}`,
        value: milestone,
      }));
    },
  },
};
</script>

<style>
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

#app {
  padding: 1rem;
  margin: 0 auto;
  max-width: 100rem;
}
</style>
